version: '3.8'

services:

  mariadb:
    build:
      context: ./mariadb
    container_name: mariadb
    networks:
      - inception
    volumes:
      - mariadb_data:/var/lib/mysql
    env_file: .env
    restart: always

  wordpress:
    build:
      context: ./wordpress
    container_name: wordpress
    networks:
      - inception
    volumes:
      - wordpress_files:/var/www/html
    env_file: .env
    depends_on:
      - mariadb
    restart: always

  nginx:
    build:
      context: ./nginx
    container_name: nginx
    networks:
      - inception
    volumes:
      - wordpress_files:/var/www/html
    env_file: .env
    ports:
      - "443:443"
    depends_on:
      - wordpress
    restart: always

  ftp:
    build:
      context: ./bonus/ftp
    container_name: ftp
    networks:
    - inception
    volumes:
    - /
    env_file: .env
    ports:
    - "21:21"
    - "21000:21010-21000-21010"
  
  portainer:
    build:
      context: ./bonus/portainer
    container_name: portainer
    networks:
    - inception
    volumes:
    - /
    env_file: .env
    ports:
    - "9999:9999"

    redis:
      build:
        context: ./bonus/redis
      container_name: redis
      networks:
      - inception
      volumes:
      - /
      env_file: .env

  adminer:
    build:
      context: ./bonus/adminer
    container_name: adminer
    networks:
    - inception
    volumes:
    - /
    env_file: .env
    ports: 
    - "8080:8080"

networks:
  inception:
    driver: bridge
    
volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/ach4q/data/mariadb'
  wordpress_files:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/ach4q/data/wordpress'